nav{
  display: flex;
  justify-content: space-between;
  margin: 28px 60px;
}
nav p {
  cursor: pointer;
}
#mid_item{
  display: flex;
  justify-content: space-between;
  width: 30%;

}

#logo{
  width: 20%;
}

#logo img{
  width: 100%;
}

#heading{
  text-align: center;
  margin: 5%;
}

#product_image{
  width: 100%;
  background-color: #F1F1EF;
}

#product_info{
  text-align: center;
}

#product_card{
  width: 30%;

}

#display_Product{
  display: flex;
  justify-content: space-around;
}